*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #43454c;
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#timer {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    font-size: 40px;
}

#questionsDiv {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    padding: 5px 10px;
    background-color: blueviolet;
    border-radius: 5px;
    font-size: 1.5rem;
}

.btn:hover {
    border: 10px black;
}

.startBtn,
.nextBtn,
.scoreBtn {
    font-size: 2rem;
    padding: 10px 20px;
}

#highScore a {
    text-decoration: none;
    color: black;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* if correct answer is chosen, button will change to green*/
.correct {
    background-color: rgb(13, 104, 13);
}

/* if wrong answer is chosen, button will change to red*/

.wrong {
    background-color: rgb(134, 5, 5);
}

#h1score {
    position: absolute;
    top: 0;
    color: white;
}

#initials {
    font-size: 20px;
    color: white;
}

#game-over h2 {
    display: flex;
    justify-content: flex-start;
}

#yourscore, #currentScore {
    color: white;
    font-size: 20px;
}

#submittedScores {
    background-color: lightblue;
    font-size: 40px;
    text-align: center;
    border-radius: 5px;
}